<header>
  <h1 class="title">Teams</h1>

  <div class="actions">
    <%= link_to 'âž• New team', new_team_path, class: "action" %>
  </div>
</header>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td>
          <%= link_to team.name, team_path(team) %>
        </td>
        <td>
          <div class="actions">
            <%= link_to 'âœï¸ Edit', edit_team_path(team), class: "action" %>
            <%= link_to 'ðŸ—‘ Delete', team_path(team), method: :delete, data: {confirm: "Are you sure?"}, class: "action" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>