<% provide(:title, "Create a Team") %>

<div class="column col-12">
  <h1>Create a Team</h1>
  <p>Choose a name for your team and then select five drivers to fill out your roster.</p>
  <%= render 'form' %> 
</div>