<% provide(:title, @team.name) %>

<div class="column col-12">
  <header class="team-header">
    <h1 class="title" data-testid="name"><%= @team.name %></h1>

    <% if current_user?(@team.user) %>
      <div class="actions">
        <%= link_to 'âœï¸ Edit', edit_team_path(@team), class: "action" %>
        <%= link_to 'ðŸ—‘ Delete', team_path(@team), method: :delete, data: {confirm: "Are you sure?"}, class: "action" %>
      </div>
    <% end %>
  </header>

  <%= render 'shared/team' %>
</div>
