<% provide(:title, @league.name) %>

<div class="column col-8 col-md-10 col-sm-12 col-mx-auto">
  <h1><%= @league.name %></h1>
  <p>Commissioner: <%= link_to @league.commish.name, @league.commish %></p>
  <h3>Scoreboard</h3>
  <%= render partial: "shared/league", locals: {league: @league} %>
  <div class="text-center text-small">
    <p><%= Grid.current.maximum('lap') || 0 %> of 200 laps in the books.</p>
  </div>
</div>
