<p>Hi <%= @user.name %>,</p>

<p>To reset your password click on the button below:</p>

<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email), class: "btn btn-primary" %>

<p>You can also copy and paste this link into your browser if the button above does not work:</p>

<p><%= link_to edit_password_reset_url(@user.reset_token, email: @user.email), edit_password_reset_url(@user.reset_token, email: @user.email) %></p>