<% provide(:title, "Sign up") %>
<% provide(:url, signup_path) %>
<% provide(:button_text, "Create My Account") %>

<div class="column col-6 col-md-10 col-sm-12 col-mx-auto">
  <h1>Sign Up</h1>
  <p>New user registration is temporarily disabled.</p>
  <!--

  <%= render 'form' %>
  -->
</div>