<% if model.errors.any? %>
  <div class="toast toast-error">
    <p>
      Uh oh! We encountered <%= pluralize(model.errors.count, "error") %>:
    </p>
    <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>