<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>
 
<p>
  <strong>Number:</strong>
  <%= @driver.number %>
</p>
 
<p>
  <strong>Team:</strong>
  <%= @driver.team %>
</p>
 
<p>
  <strong>Make & Model:</strong>
  <%= @driver.make_model %>
</p>