.scoreboard {
  margin: 0 auto 1.2rem;
  max-width: 33rem;

  .medal, .rank {
    width: 1px;
  }

  .score {
    text-align: right;
  }

  a {
    display: block;
  }
  
  caption {
    caption-side: bottom;
    padding: 0.6rem 0.4rem;
  }

  .my-team {
    background-color: #EAEAFA;
  }

  tbody {
    .rank, .score, .team-name {
      font-size: 1rem;
    }

    .medal {
      font-size: 1.2rem;
    }
  }
}

.current-teams {
  margin: 1rem 0;
}

.league-list {
  .tile .tile-action {
    display: block;
  }
}

@media (min-width: 840px) {
  .scoreboard {
    tbody {
      .rank, .score, .team-name {
        font-size: 1.2rem;
      }

      .medal {
        font-size: 2rem;
      }
    }
  }
}

.leagues {
  .scoreboard {
    tbody {
      .rank, .score, .team-name {
        font-size: 0.8rem;
      }

      medal {
        font-size: 1rem;
      }
    }
  }
}
